registry=https://powerbi.pkgs.visualstudio.com/_packaging/PowerBIClients/npm/registry/
always-auth=true
shared-workspace-shrinkwrap=true
stream=true
# fix for angular buildable libs #1255262
public-hoist-pattern[]=*@material*
link-workspace-packages=true